{% extends "base.html" %}

{% block content %}

<div class="center-container container">
    <p class="page-title">Pseudobook</p>
    <div class="row" style="margin-bottom: 15px;">
      <form action="{{ url_for('admin.login_form') }}" method="POST">
        <div class="form-group col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
          {{ form.hidden_tag() }}
          {{ form.email(class="form-control") }}
        </div>
        <div class="form-group col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
          {{ form.password(class="form-control") }}
        </div>
        <input type=hidden value="{{ next or '' }}" name=next>
        <div class="col-xs-12 center-block">
          <button type="submit" class="btn btn-default center-block">login</button>
        </div>
      </form>
    </div>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
      <div class="flashes row">
      {% for message in messages %}
        <p style="text-align:center;">{{ message }}</p>
      {% endfor %}
      </div>
    {% endif %}
  {% endwith %}
</div>

{% endblock %}