{% extends "base.html" %}

{% block content %}

<div class="center-container container">
  <p class="page-title">Pseudobook</p>
  <div class="row" style="margin-bottom: 15px;">
    <form action="/admin/forms/signup" method="POST" name="link_submit">
      <div class="input-container form-group col-sm-6 col-sm-offset-3">
        {{ form.hidden_tag() }}
        {{ form.firstName(class="form-control") }}
      </div>
      <div class="input-container form-group col-sm-6 col-sm-offset-3">
        {{ form.hidden_tag() }}
        {{ form.lastName(class="form-control") }}
      </div>
      <div class="input-container form-group col-sm-6 col-sm-offset-3">
        {{ form.hidden_tag() }}
        {{ form.email(class="form-control") }}
      </div>
      <div class="input-container form-group col-xs-12 col-sm-6 col-sm-offset-3">
        <div class="col-xs-6 nopadding-left lesspadding-right">
          {{ form.password(class="form-control") }}
        </div>
        <div class="col-xs-6 nopadding-right lesspadding-left">
          {{ form.password_B(class="form-control") }}
        </div>
      </div>
      <div class="col-xs-12 center-block">
        <button type="submit" class="btn btn-default center-block">signup</button>
      </div>
    </form>
  </div>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <div class="flashes row">
      {% for message in messages %}
        <p style="text-align:center;">{{ message }}</p>
      {% endfor %}
      </div>
    {% endif %}
  {% endwith %}
</div>

{% endblock %}