{% extends "base.html" %}

{% block content %}
    
    <div class="left-container container">
    	<div>
            <ul class="nav nav-tabs page-menu">
              <li class="active"><a data-toggle="tab" href="#activity-section">Activity</a></li>
              <li><a data-toggle="tab" href="#users-section">Users</a></li>
            </ul>
        </div>
        <div class="tab-content">
            <div id="activity-section" class="tab-pane fade in active">
            {% for user_post in user_posts %}
                <div class="list-link-div">
                    <span class="dotted">
                    <a class="list-link" href="{{ url_for('users.user_page', userID=user_post.authorID) }}">
                        {% if user_post.authorID == user_post.page_owner_id %}
                            <b>{{ user_post.author_name }}</a></b>
                        {% else %}
                            <b>{{ user_post.author_name }}</a> > <a class="list-link" href="{{ url_for('users.user_page', userID=user_post.page_owner_id) }}">{{ user_post.page_owner_name }}</a></b>
                        {% endif %}
                    </span>
                    <small class='post-timestamp'> {{ user_post.postDate }}</small>
                    {% if current_user.userID == user_post.authorID %}
                    <span class="btn-group list-link-dropdown">
                        <button class="dropdown-button btn btn-mini button-transparent dropdown-toggle" data-toggle="dropdown">
                          <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu pull-right">
                            
                            <li>
                                <a onclick="$(this).find('> form:first').submit()" style="cursor:pointer;">
                                    <form action="{{ url_for('users.remove_post_form') }}" method="POST" style="display:none;">
                                        {{ user_post.remove_post_form.hidden_tag() }}
                                        {{ user_post.remove_post_form.postID(type="hidden", value=user_post.postID) }}
                                    </form>
                                    <span class="glyphicon glyphicon-remove" style="padding-right:10px;"></span>
                                    Delete
                                </a>
                            </li>
                        </ul>
                    </span>
                    {% endif %}
                    <br>
                    <p class="post-text">{{ user_post.postContent }}</p>
                  </a>
                </div>
            {% endfor %}
            {% if prev_user_posts or next_user_posts %}
                <div>
                    {% if prev_user_posts %}
                        <a class="fade-link nextprev float-left" href="{{ url_for('users.users', user_posts_offset=user_posts_offset - 1) }}">❮ Prev</a>
                    {% endif %}
                    {% if next_user_posts %}
                        <a class="fade-link nextprev float-right" href="{{ url_for('users.users', user_posts_offset=user_posts_offset + 1) }}">Next ❯</a>
                    {% endif %}
                </div>
            {% endif %}
            </div>
            <div id="users-section" class="tab-pane fade in">
            {% for user in users %}
                <div class="list-link-div">
                    <a class="list-link" href="{{ url_for('users.user_page', userID=user.userID) }}">
                        {{ user.firstName }} {{ user.lastName}}
                    </a>
                  </a>
                  {% if not user.is_employee() %}
                  <span class="btn-group list-link-dropdown">
                        <button class="dropdown-button btn btn-mini button-transparent dropdown-toggle" data-toggle="dropdown">
                          <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu pull-right">
                            <li>
                                <a onclick="$('#upgrade-to-employee-modal').modal('toggle'); currentUserID={{user.userID}};" style="cursor:pointer;">
                                    Upgrade to Employee
                                </a>
                            </li>
                        </ul>
                    </span>
                    {% endif %}
                </div>
            {% endfor %}
            {% if users|length == 0 %}
                <p>No Results</p>
            {% endif %}
            {% if prev_users or next_users %}
                <div>
                    {% if prev_users %}
                        <a class="fade-link nextprev float-left" href="{{ url_for('users.users', users_offset=users_offset - 1) }}">❮ Prev</a>
                    {% endif %}
                    {% if next_users %}
                        <a class="fade-link nextprev float-right" href="{{ url_for('users.users', users_offset=users_offset + 1) }}">Next ❯</a>
                    {% endif %}
                </div>
            {% endif %}
            </div>
        </div>

        <!-- Modals -->
        <div class="modal fade" id="upgrade-to-employee-modal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Employee Info</h4>
                    </div>
                    <div class="modal-body">
                      <form id="upgrade-to-employee-form" action="{{ url_for('employees.edit_employee_form') }}" method="POST">
                          {{ edit_employee_form.hidden_tag() }}
                          {{ edit_employee_form.SSN(class="form-control SSN-field") }}
                          {{ edit_employee_form.hourlyRate(class="form-control hourlyRate-field") }}
                          {{ edit_employee_form.userID(type="hidden", class="userID-field") }}
                      </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button id="upgrade-to-employee-submit" type="submit" class="btn btn-success">Submit</button>  
                    </div>
                </div>
            </div>
        </div>

        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <div class="flashes row">
            {% for message in messages %}
              <p style="text-align:center;">{{ message }}</p>
            {% endfor %}
            </div>
          {% endif %}
        {% endwith %}
    </div>

    <script type="text/javascript">
        var currentUserID;

        function submitUpgradeToEmployee() {
            upgrade_form = $("#upgrade-to-employee-form");
            upgrade_form.find(".userID-field").val(currentUserID);

            $.ajax({
                type: "POST",
                url: "/employees/forms/edit_employee",
                data: $(upgrade_form).serialize(),
                success: function(data) {
                    if (data.length == 0)
                        window.location = "/employee/" + currentUserID
                    else {
                        alert(data);
                    }
                }
            });
        }

        $("#upgrade-to-employee-submit").on("click", submitUpgradeToEmployee);
    </script>
{% endblock %}
