{% extends "base.html" %}

{% block content %}

<script type="text/javascript">
    $(document).ready(function() {
        // Fill the ads list with the received data
        function setTableData(data) {
            $(".ad-item").remove();

            // Add a row in the table for each data item received
            data.forEach(function(d) {
                var itemString = "<div class='ad-item'>"
                    + "<h3>"+d.itemName+"</h3>"
                    + "<p>By "+d.company+"</p><hr/>"
                    + "Type: "+d.adType+"<br/><br/>"
                    + "<p>"+d.content+"</p>"
                    + "$"+d.unitPrice+"<br/>"
                    + d.numberAvailableUnits + " remaining"
                    + "<input type='button' class='purchase-btn' adID='"+d.adID+"' value='Purchase'/>"
                    + "</div>";
                $("#own-ads-list").append(itemString);
            });
        }

        // Submit search query to the server
        function search() {
            var searchCol = $("#search-col-selector").val();
            var searchString = $("#search-input").val();

            var data = {
                searchcol: searchCol,
                search: searchString,
                userID: {{ employee.userID }}
            }
            
            $.ajax({
                type: "POST",
                url: "/employee/getownads",
                contentType: 'application/json;charset=UTF-8',
                data: JSON.stringify(data),
                success: function(data) {
                    setTableData(JSON.parse(data));
                }
            });
        }

        $("#search-col-selector").change(search);
        $("#search-input").keypress(function(e) {
            if (e.which != 13)
                return;
            search();
        });

        search();
    });
</script>

<style>
    .filter-selector {
        padding-right: 8px;
    }

    .ad-item {
        border-style: solid;
        border-radius: 4px;
        margin: 10px;
        padding-left: 5px;
        padding-right: 5px;
        padding-bottom: 5px;
    }

    .purchase-btn {
        margin-left: 33%;
        background-color: white;
        color: #444;
        font-size: 18px;
        border-style: solid;
        border-radius: 2px;
    }
</style>

<div class="left-container container">
    <h2 class="page-header">{{employee.firstName}} {{employee.lastName}}</h2>
    <div>
        <ul class="nav nav-tabs page-menu">
            <li class="active"><a data-toggle="tab" href="#own-ads-section">
                {% if is_current_employees_page %}
                My
                {% else %}
                {{ employee.firstName }} {{employee.lastName}}'s
                {% endif %}
                Ads
            </a></li>
            {% if is_current_employees_page %}
            <li><a data-toggle="tab" href="#create-ad-section">Make New Ad</a></li>
            {% endif %}
            <li><a data-toggle="tab" href="#info-section">My Info</a></li>
        </ul>
    </div>
    <div class="tab-content">
        <div id="own-ads-section" class="tab-pane fade in active">
            <div class="row list-header">
                <!-- Search -->
                <span class="filter-selector" style="margin-left:28px;">
                    Search for:
                    <select id="search-col-selector">
                        {% for col in searchable_columns %}
                            <option val="{{col}}">{{col}}</option>
                        {% endfor %}
                    </select>
                    <input id="search-input" type="text" />
                </span>
            </div>
            <hr class="list-divider">

            <div id="own-ads-list"></div>
        </div>
        {% if is_current_employees_page %}
        <div id="create-ad-section" class="tab-pane fade in">
            <form action="{{ url_for('employees.create_ad_form') }}" method="POST">
                <div class="form-group col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
                {{ create_ad_form.hidden_tag() }}
                </div>
                <div class="form-group col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
                {{ create_ad_form.itemName(class="form-control") }}
                {{ create_ad_form.itemType(class="form-control") }}
                {{ create_ad_form.company(class="form-control") }}
                {{ create_ad_form.content(class="form-control") }}
                {{ create_ad_form.price(class="form-control") }}
                {{ create_ad_form.unitsAvailable(class="form-control") }}
                </div>
                <div class="col-xs-12 center-block">
                <button id="create-ad-submit" type="submit" class="btn btn-default center-block">Create</button>
                </div>
            </form>
        </div>
        {% endif %}
        <div id="info-section" class="tab-pane fade in">
            Date Started: {{ employee.startDate }}
            <br/>
            SSN: {{ employee.SSN }}
            <br/>
            Hourly Wage: {{ employee.hourlyRate }}
        </div>
    </div>
</div>

<script type="text/javascript">
    function submitEditEmployee() {
        create_ad_form = $("#create-ad-form");

        $.ajax({
            type: "POST",
            url: "/employees/forms/create_ad_form",
            data: $(create_ad_form).serialize(),
            success: function(data) {
                if (data.length == 0)
                    $(create_ad_form)[0].reset();
                else
                    alert(data);
            }
        });
    }

    $("#create-ad-submit").on("click", submitEditEmployee);
</script>

{% endblock %}