{% extends "base.html" %}

{% block content %}

<div class="center-container container">
  <p class="page-title">Pseudobook</p>
  <div class="row" style="margin-bottom: 15px;">
    <form action="{{ url_for('groups.create_group_form') }}" method="POST">
      <div class="form-group col-sm-6 col-sm-offset-3">
        {{ form.hidden_tag() }}
        {{ form.groupName(class="form-control") }}
      </div>
      <div class="form-group col-sm-6 col-sm-offset-3">
        {{ form.hidden_tag() }}
        {{ form.groupType(class="form-control") }}
      </div>
      <div class="col-xs-12 center-block">
        <button type="submit" class="btn btn-default center-block">signup</button>
      </div>
    </form>
  </div>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <div class="flashes row">
      {% for message in messages %}
        <p style="text-align:center;">{{ message }}</p>
      {% endfor %}
      </div>
    {% endif %}
  {% endwith %}
</div>

{% endblock %}