{% extends "base.html" %}

{% block content %}
    
    <div class="left-container container">
        <div id="status_section">
			<h2 class="page-header">{{ group.groupName }} group wall</h2>
			<form action="{{ url_for('groups.make_post_form') }}" method="POST">
				<div class="post-status-form form-group">
				  {{ make_post_form.hidden_tag() }}
				  	{{ make_post_form.content(class="form-control",rows="2",placeholder="Write something to this group...") }}
				  {{ make_post_form.pageID(type="hidden", value=page.pageID) }}
				  {{ make_post_form.authorID(type="hidden", value=current_user.userID) }}
				</div>
				<div>
				  <button type="submit" class="btn btn-default center-block">post</button>
				</div>
			</form>
        </div>
        <div>
	        <ul class="nav nav-tabs page-menu">
	          <li class="active"><a data-toggle="tab" href="#posts-section">Posts</a></li>
	          <li><a data-toggle="tab" href="#users-section">Users</a></li>
	        </ul>
	    </div>
	    <div class="tab-content">
	        <div id="posts-section" class="tab-pane fade in active">
		        {% for post in posts %}
			        <div class="list-link-div">
			        	<a class="list-link post-author" href="{{ url_for('users.user_page', userID=post.authorID) }}">
			            	<b>{{ post.author_name }}</b> 
			            </a>
			            <small class='post-timestamp'> {{ post.postDate }}</small>
			            <span class="btn-group list-link-dropdown">
							<button class="dropdown-button btn btn-mini button-transparent dropdown-toggle" data-toggle="dropdown">
							  <span class="caret"></span>
							</button>
							<ul class="dropdown-menu pull-right">
								{% if current_user.userID == post.authorID %}
								<li>
									<a onclick="$(this).find('> form:first').submit()" style="cursor:pointer;">
										<form action="{{ url_for('groups.remove_post_form') }}" method="POST" style="display:none;">
										    {{ post.remove_post_form.hidden_tag() }}
										    {{ post.remove_post_form.postID(type="hidden", value=post.postID) }}
										</form>
										<span class="glyphicon glyphicon-remove" style="padding-right:10px;"></span>
										Delete
									</a>
								</li>
								{% endif %}
							</ul>
			            </span>
			            <br>
			        	<p class="post-text">{{ post.postContent }}</p>
			          </a>
			        </div>
		        {% endfor %}
	            {% if prev_posts or next_posts %}
	            	<div>
	            		{% if prev_posts %}
	            			<a class="fade-link nextprev float-left" href="{{ url_for('groups.group_page', groupID=group.groupID, posts_offset=posts_offset - 1, posts_search=posts_search) }}">❮ Prev</a>
	            		{% endif %}
	        			{% if next_posts %}
	        	    		<a class="fade-link nextprev float-right" href="{{ url_for('groups.group_page', groupID=group.groupID, posts_offset=posts_offset + 1, posts_search=posts_search) }}">Next ❯</a>
	            		{% endif %}
	            	</div>
	        	{% endif %}
	        </div>
            <div id="users-section" class="tab-pane fade in">
    	        {% for user in users %}
    		        <div class="list-link-div">
			        	<a class="list-link" href="{{ url_for('users.user_page', userID=user.userID) }}">
			            	<b>{{ user.firstName }} {{ user.lastName }}</b> 
			            </a>
			            {% if current_user.userID == user.userID %}
			            <span class="btn-group list-link-dropdown">
							<button class="dropdown-button btn btn-mini button-transparent dropdown-toggle" data-toggle="dropdown">
							  <span class="caret"></span>
							</button>
							<ul class="dropdown-menu pull-right">
								<li>
									<a style="cursor:pointer;">
										<span class="glyphicon glyphicon-minus" style="padding-right:10px;"></span>
										Remove From Group
									</a>
								</li>
							</ul>
			            </span>
			            {% endif %}
			            <br>
			          </a>
			        </div>
		        {% endfor %}
                {% if prev_groups or next_groups %}
                	<div>
                		{% if prev_groups %}
                			<a class="fade-link nextprev float-left" href="{{ url_for('groups.group_page', groupID=group.groupID, users_offset=users_offset - 1, users_search=users_search) }}">❮ Prev</a>
                		{% endif %}
            			{% if next_groups %}
            	    		<a class="fade-link nextprev float-right" href="{{ url_for('groups.group_page', groupID=group.groupID, users_offset=users_offset + 1, users_search=users_search) }}">Next ❯</a>
                		{% endif %}
                	</div>
            	{% endif %}
            </div>
	    </div>
	    {% with messages = get_flashed_messages() %}
	      {% if messages %}
	        <div class="flashes row">
	        {% for message in messages %}
	          <p style="text-align:center;">{{ message }}</p>
	        {% endfor %}
	        </div>
	      {% endif %}
	    {% endwith %}
    </div>

{% endblock %}
