{% extends "base.html" %}

{% block content %}
    
    <div class="left-container container">
        <div id="status_section">
			<h2 class="page-header">{{ group.groupName }} group wall</h2>
			<form action="{{ url_for('groups.make_post_form') }}" method="POST">
				<div class="post-status-form form-group">
				  {{ make_post_form.hidden_tag() }}
				  	{{ make_post_form.content(class="form-control",rows="2",placeholder="Write something to this group...") }}
				  {{ make_post_form.pageID(type="hidden", value=page.pageID) }}
				  {{ make_post_form.authorID(type="hidden", value=current_user.userID) }}
				</div>
				<div>
				  <button type="submit" class="btn btn-default center-block">post</button>
				</div>
			</form>
        </div>
        <div>
	        <ul class="nav nav-tabs page-menu">
				<li class="active"><a  data-toggle="tab" href="#posts-section">Posts</a></li>
				<li><a  data-toggle="tab" href="#users-section">Users</a></li>
				{% if current_user_is_member %}
					<li><a  data-toggle="tab" href="#add-users-section">Add Users</a></li>
				{% endif %}
				<li class="dropdown hover-tab">
					<a class="dropdown-toggle" data-toggle="tab" href="#settings-section">Settings <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li>
							{% if current_user_is_member %}
								<a onclick="$(this).find('> form:first').submit()" style="cursor:pointer;">
									<form action="{{ url_for('groups.unjoin_group') }}" method="POST" style="display:none;">
									    {{ join_unjoin_form.hidden_tag() }}
									    {{ join_unjoin_form.groupID(type="hidden", value=group.groupID) }}
									    {{ join_unjoin_form.userID(type="hidden", value=current_user.userID) }}
									</form>
								Leave Group
							{% else %}
								<a onclick="$(this).find('> form:first').submit()" style="cursor:pointer;">
									<form action="{{ url_for('groups.join_group') }}" method="POST" style="display:none;">
									    {{ join_unjoin_form.hidden_tag() }}
									    {{ join_unjoin_form.groupID(type="hidden", value=group.groupID) }}
									    {{ join_unjoin_form.userID(type="hidden", value=current_user.userID) }}
									</form>
								Join Group
							{% endif %}
							</a>
						</li>                      
					</ul>
	          	</li>
	        </ul>
	    </div>
	    <div class="tab-content">
	        <div id="posts-section" class="tab-pane fade in active">
		        {% for post in posts %}
			        <div id="{{ post.postID }}" class="list-link-div">
			        	<a class="list-link post-author" href="{{ url_for('users.user_page', userID=post.authorID) }}">
			            	<b>{{ post.author_name }}</b> 
			            </a>
			            <small class='post-timestamp'> {{ post.postDate }}</small>
			            <span class="btn-group list-link-dropdown">
							<button class="dropdown-button btn btn-mini button-transparent dropdown-toggle" data-toggle="dropdown">
							  <span class="caret"></span>
							</button>
							<ul class="dropdown-menu pull-right">
								{% if current_user.userID == post.authorID %}
								<li>
								    <a class="edit-post" data-post-id="{{ post.postID }}" style="cursor:pointer;">
								        <span class="glyphicon glyphicon-pencil" style="padding-right:10px;"></span>
								        Edit
								    </a>
								</li>
								{% endif %}
								<li>
								    <a class="make-comment" data-post-id="{{ post.postID }}" data-author-id="{{ current_user.userID }}" style="cursor:pointer;">
								        <span class="glyphicon glyphicon-comment" style="padding-right:10px;"></span>
								        Comment
								    </a>
								</li>
								{% if current_user.userID == post.authorID %}
								<li>
									<a onclick="$(this).find('> form:first').submit()" style="cursor:pointer;">
										<form action="{{ url_for('groups.remove_post_form') }}" method="POST" style="display:none;">
										    {{ post.remove_post_form.hidden_tag() }}
										    {{ post.remove_post_form.postID(type="hidden", value=post.postID) }}
										</form>
										<span class="glyphicon glyphicon-remove" style="padding-right:10px;"></span>
										Delete
									</a>
								</li>
								{% endif %}
							</ul>
			            </span>
			            <br>
			        	<p class="post-text">{{ post.postContent }}</p>
			        	<div class="comments-container" {% if post.comments|length == 0 %}style="display:none;"{% endif %}>
			        	    <hr style="max-width: 350px;">
			        	    <div class="comments">
			        	        {% for comment in post.comments %}
			        	            {% include 'comment.html' %}
			        	        {% endfor %}
			        	        <hr>
			        	    </div>
			        	</div>
			          </a>
			        </div>
		        {% endfor %}
	            {% if prev_posts or next_posts %}
	            	<div>
	            		{% if prev_posts %}
	            			<a class="fade-link nextprev float-left" href="{{ url_for('groups.group_page', groupID=group.groupID, posts_offset=posts_offset - 1) }}">❮ Prev</a>
	            		{% endif %}
	        			{% if next_posts %}
	        	    		<a class="fade-link nextprev float-right" href="{{ url_for('groups.group_page', groupID=group.groupID, posts_offset=posts_offset + 1) }}">Next ❯</a>
	            		{% endif %}
	            	</div>
	        	{% endif %}
	        </div>
            <div id="users-section" class="tab-pane fade in hover-tab">
    	        {% for user in users %}
    		        <div class="list-link-div">
			        	<a class="list-link" href="{{ url_for('users.user_page', userID=user.userID) }}">
			            	<b>{{ user.firstName }} {{ user.lastName }}</b> 
			            </a>
			            {% if current_user_is_member %}
			            <span class="btn-group list-link-dropdown">
							<button class="dropdown-button btn btn-mini button-transparent dropdown-toggle" data-toggle="dropdown">
							  <span class="caret"></span>
							</button>
							<ul class="dropdown-menu pull-right">
								<li>
									<a onclick="$(this).find('> form:first').submit()" style="cursor:pointer;">
										<form action="{{ url_for('groups.unjoin_group') }}" method="POST" style="display:none;">
										    {{ user.join_unjoin_form.hidden_tag() }}
										    {{ user.join_unjoin_form.groupID(type="hidden", value=group.groupID) }}
										    {{ user.join_unjoin_form.userID(type="hidden", value=user.userID) }}
										</form>
										<span class="glyphicon glyphicon-minus" style="padding-right:10px;"></span>
										Remove From Group
									</a>
								</li>
							</ul>
			            </span>
			            {% endif %}
			            <br>
			          </a>
			        </div>
		        {% endfor %}
                {% if prev_users or next_users %}
                	<div>
                		{% if prev_users %}
                			<a class="fade-link nextprev float-left" href="{{ url_for('groups.group_page', groupID=group.groupID, users_offset=users_offset - 1) }}">❮ Prev</a>
                		{% endif %}
            			{% if next_users %}
            	    		<a class="fade-link nextprev float-right" href="{{ url_for('groups.group_page', groupID=group.groupID, users_offset=users_offset + 1) }}">Next ❯</a>
                		{% endif %}
                	</div>
            	{% endif %}
            </div>
            {% if current_user_is_member %}
	            <div id="add-users-section" class="tab-pane fade in hover-tab">
	            	{% for user in addable_users %}
	    		        <div class="list-link-div">
				        	<a class="list-link" href="{{ url_for('users.user_page', userID=user.userID) }}">
				            	<b>{{ user.firstName }} {{ user.lastName }}</b> 
				            </a>
				            <span class="btn-group list-link-dropdown">
								<button class="dropdown-button btn btn-mini button-transparent dropdown-toggle" data-toggle="dropdown">
								  <span class="caret"></span>
								</button>
								<ul class="dropdown-menu pull-right">
									<li>
										<a onclick="$(this).find('> form:first').submit()" style="cursor:pointer;">
											<form action="{{ url_for('groups.join_group') }}" method="POST" style="display:none;">
											    {{ user.join_unjoin_form.hidden_tag() }}
											    {{ user.join_unjoin_form.groupID(type="hidden", value=group.groupID) }}
											    {{ user.join_unjoin_form.userID(type="hidden", value=user.userID) }}
											</form>
											<span class="glyphicon glyphicon-plus" style="padding-right:10px;"></span>
											Add to Group
										</a>
									</li>
								</ul>
				            </span>
				            <br>
				          </a>
				        </div>
			        {% endfor %}
	                {% if prev_addable_users or next_addable_users %}
	                	<div>
	                		{% if prev_addable_users %}
	                			<a class="fade-link nextprev float-left" href="{{ url_for('groups.group_page', groupID=group.groupID, addable_users_offset=addable_users_offset - 1) }}">❮ Prev</a>
	                		{% endif %}
	            			{% if next_addable_users %}
	            	    		<a class="fade-link nextprev float-right" href="{{ url_for('groups.group_page', groupID=group.groupID, addable_users_offset=addable_users_offset + 1) }}">Next ❯</a>
	                		{% endif %}
	                	</div>
	            	{% endif %}
	            </div>
            {% endif %}
            <div id="settings-section" class="tab-pane fade in hover-tab">
            </div>
	    </div>

	    <!-- Modals -->
        <div class="modal fade" id="make-comment-modal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Make a Comment</h4>
                    </div>
                    <div class="modal-body">
                      <form id="make-comment-form" action="{{ url_for('groups.remove_post_form') }}" method="POST">
                          {{ make_comment_form.hidden_tag() }}
                          {{ make_comment_form.postID(type="hidden", class="postID-field") }}
                          {{ make_comment_form.content(class="form-control content-field") }}
                          {{ make_comment_form.authorID(type="hidden", class="authorID-field") }}
                      </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button id="make-comment-submit" type="submit" class="btn btn-success">Submit</button>  
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="edit-post-modal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Edit Post</h4>
                    </div>
                    <div class="modal-body">
                      <form id="edit-post-form" action="{{ url_for('groups.edit_post_form') }}" method="POST">
                          {{ edit_post_form.hidden_tag() }}
                          {{ edit_post_form.content(class="form-control content-field") }}
                          {{ edit_post_form.postID(type="hidden", class="postID-field") }}
                      </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button id="edit-post-submit" type="submit" class="btn btn-success">Submit</button>  
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="edit-comment-modal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Edit Comment</h4>
                    </div>
                    <div class="modal-body">
                      <form id="edit-comment-form" action="{{ url_for('groups.edit_comment_form') }}" method="POST">
                          {{ edit_comment_form.hidden_tag() }}
                          {{ edit_comment_form.content(class="form-control content-field") }}
                          {{ edit_comment_form.commentID(type="hidden", class="commentID-field") }}
                      </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button id="edit-comment-submit" type="submit" class="btn btn-success">Submit</button>  
                    </div>
                </div>
            </div>
        </div>

	    <form id="remove-comment-form" action="{{ url_for('groups.remove_comment') }}" method="POST" style="display:none;"">
            {{ remove_comment_form.hidden_tag() }}
            {{ remove_comment_form.commentID(type="hidden", class="commentID-field") }}
        </form>

	    {% with messages = get_flashed_messages() %}
	      {% if messages %}
	        <div class="flashes row">
	        {% for message in messages %}
	          <p style="text-align:center;">{{ message }}</p>
	        {% endfor %}
	        </div>
	      {% endif %}
	    {% endwith %}
    </div>

{% endblock %}

{% block scripts %}
    <script src="/static/js/groups/groups.js"></script>
{% endblock %}
